<!DOCTYPE html>
<html lang="en">
{% load bootstrap5 %}
{% bootstrap_css %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/icons/apple-touch-icon.png' %}">

    <title>Password Change Success</title>

    <script>
        onRedirectButtonPressed = () => location.replace("/login/");
    </script>

</head>

{% block content %}

<body class="text-center py-4">
    <img src="{% static 'assets/password_change_success.svg' %}" width="300" class="my-4 mx-1">
    <h3 class="my-3 mx-1">Password has been successfully changed</h3>
    <button onclick="onRedirectButtonPressed();" class="my-3 btn btn-lg btn-primary shadow">Login with new password</button>
</body>


{% endblock %}