{% include "./header.html" %}
{% load static %}

<script>
    fetchUserFriends = () => {
        fetch("/api/friends/{{app_user.user.username}}", {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                'X-CSRFToken': "{{ csrf_token }}"
            },
        }).then((result) => {
            if (result.ok) {
                return result.json();
            } else {
                let htmlString = `
                <div class="text-center my-4">
                    <img src="{% static 'assets/error.svg' %}" width="300" class="py-4">
                    <h3 class="py-4">Something went terribly wrong...</h3>
                <div>
                `;
                let friendsBody = document.getElementById("friends-body");
                friendsBody.insertAdjacentHTML('beforeend', htmlString);
            }
        }).then((data) => {
            let friends = data;
            if (friends) {
                for (friend of friends) {
                    let htmlString = `
                    <div class="shadow">
                        <div class="list-group-item list-group-item-action gap-3 py-3 px-3">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="d-flex flex-row">
                                    <img src="${friend.profile_image}" width="32" height="32"
                                        class="rounded-circle">
                                    <h6 class="my-2 mx-2 ms-2"><a href="/profile/?username=${friend.user.username}" class="text-decoration-none link-dark">${friend.user.username}</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;
                    let friendsBody = document.getElementById("friends-body");
                    friendsBody.insertAdjacentHTML('beforeend', htmlString);
                }
            }
        }).catch((error) => console.error(error));
    };

    fetchUserFriends();
</script>

<div class="row animate__animated animate__fadeInLeft">
    <div class="list-group px-4 py-4 col-md-11 m-auto">
        <div class="py-3">
            <div class="d-flex flex-row">
                <div class="d-flex flex-row">
                    <img src="{{ app_user.profile_image.url }}" alt="twbs" width="42" height="42"
                        class="rounded-circle">
                    <h4 class="my-2 mx-2 ms-2"><a href="#"
                            class="text-decoration-none link-dark">{{ app_user.user.username }}</a></h4>
                </div>
            </div>
        </div>

        <h4 class="my-3">Friend List</h4>
        <div id="friends-body">
        </div>
    </div>
</div>

{% include "./footer.html" %}